<h3>Edit your post here</h3>
<%= form_for @post, html: {method: :put} do |f| %>
	<p>
		<%= f.label :message, "Edit Message" %>
		<%= f.text_area :message %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>