<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<h3>Write your post here</h3>
<%= form_for @post do |f| %>
	<p>
		<%= f.label :message, "New Message" %>
		<%= f.text_area :message %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>