<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<h3>
	Submitted <%= time_ago_in_words(@post.created_at) %> Ago <br>
	<%= link_to 'Edit', edit_post_path(@post) %> <!-- FOR NOW IT CREATES A NEW POST INSTEAD OF EDITING ONE!!!!! -->
</h3>
<p><%= @post.message %></p>